<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bomberman Grid</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="title">
        <h1>Bomberman Game</h1>
    </div>

    <div class="game-container">
        <div id="gameGrid" class="grid"></div>
    </div>

<!-- ld -->
    <script src="../../js/body.js"></script>
    <script src="/js/player.js"
    ></script>
</body>
</html>
